<div class="container">

  <!-- イラスト投稿フォーム -->
  <section>
    <h1>イラスト編集</h1>
    <p>ファイルを選択</p>
    <p>サムネイル画像をここに表示</p>

    <p>タイトル</p>
    <input type="form" class="form-size" placeholder="タイトルを入力してください">

    <p>メッセージ</p>
    <input type="form" class="form-size" placeholder="メッセージを入力してください">

    <p>タグ</p>
    <input type="form" class="form-size" placeholder="タグを入力してください">

    <p>評価してほしいポイント</p>
    <input type="textarea" class="form-size" placeholder="評価してほしいポイントを入力してください 例">

    <input type="button" value="投稿">
    <input type="button" value="キャンセル">

  </section>
</div>
