<div class="container">

  <!-- ユーザー一覧・検索ボックス -->
  <section class="mypage-tabmenu">
    <h1 class="heading-text">ユーザー一覧</h1>
    <input type="search" style="width: 400px;">
  </section>

  <!-- ユーザー一覧表示 -->
  <section class="">
    <div>

        <!-- ユーザーを一覧表示 -->
        <table class="table">
          <thead>
            <tr>
              <th>ユーザー画像</th>
              <th>ユーザー名</th>
              <th>自己紹介文</th>
            </tr>
          </thead>
          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td><%= attachment_image_tag user, :user_image, :fill, 50, 50, fallback: "img/no_image.png", size: "50x50" %></td>
              <td><%= user.name %></td>
              <td><%= user.introduction_text %></td>
            </tr>
          </tbody>
        </table>
      <% end %>

    </div>

  </section>

    </div>
  </div>

</div>
