<div class="container">

  <!-- ロゴ -->
  <div>
    <div class="logo">
  </div>

  <h1 class="top-text">イラストを高めあえるサイト</h1>

  <div class="link-button">
    <%= link_to "始めてみる", new_user_registration_path, class: "btn btn-primary top-button" %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-default top-button" %>
  </div>

</div><!-- containerクラスの終わり -->
