<div class="container">
  <div class="logo">
  </div>
  <h1 class="top-text">イラストを高めあえるサイト</h1>
  <div class="top-button">
    <input type="button" value="新規登録">
    <input type="button" value="ログイン">
  </div>
</div>
