// Place all the styles related to the illustrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// イラスト詳細画面の装飾
.illust-area {
  width: 700px;
  background-color: white;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 10px;
}
.illust-area p {
  margin: 0;
}
.illust-definition {
  margin: 25px 15px 35px 15px;
}

.illustration {
  margin: 0 auto;
  text-align: center;
  min-width: 100px;
  max-width: 600px;
  min-height: 100px;
  max-height: 600px;
  padding-bottom: 10px;
  color: white;
}

// イラスト説明欄の装飾
.illust-description {
  width: 500px;
  margin: 0 auto;
}

// 投稿日表示
.illust-post-date {
  clear: both;
  float: left;
  padding: 3px 10px;
}

// 閲覧数表示
.illust-view-count {
  float: left;
  padding: 3px 10px;
  border-left: 1px solid gray;
}

// イラスト編集画面へのリンク
.illust-edit-link {
  float: right;
  padding: 3px 0;
}

// イラストお気に入りボタン
.illust-like {
  float: right;
  padding: 3px 0;
}

// イラストタイトルの装飾
.illust-description .illust-title {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0 10px;
}

// イラストメッセージの装飾
.illust-description .illust-introduction {
  margin-bottom: 10px;
}

//  評価してほしいポイントの装飾
.illust-description .evaluation-point-text {
  margin-bottom: 5px;
}
.illust-description .evaluation-point {
  padding: 3px;
  background-color: #DDD;
  margin-left: 5px;
  margin-bottom: 10px;
}

// イラストタグの装飾
.illust-description .illust-tag-list {
  margin-bottom: 2px;
}
/// イラストタグがある場合
.illust-description .illust-tag-exist {
}
/// イラストタグ
.illust-tag {
  display: block;
  padding: 3px;
  background-color: #CCF;
  margin-left: 5px;
  margin-top: 3px;
  float: left;
}
.illust-tag:first-line {
}
/// イラストタグが無い場合
.illust-description .illust-tag-none {
  padding: 3px;
  background-color: #CCF;
  margin-top: 3px;
  margin-left: 5px;
}

.correction-contents {
  padding: 25px 15px 35px 15px;
  background-color: white;
  width: 700px;
  float: left;
}
.correction-contents p {
  margin: 0;
}
.correction.comment {
  margin: 5px;
  padding: 5px;
  width: 600px;
}
.correction-form {
  margin-top: 10px;
  width: 700px;
}

// イラスト編集画面の装飾
.illust-delete {
  border-top: 1px solid #BBB;
  margin-top: 50px;
  padding-top: 25px;
  text-align: center;
}
.illust-delete-text {
  text-align: center;
}
