// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップ(ルート)画面の装飾
.logo {
  height: 300px;
  // デプロイにあたってurlをimg⇒imagesに変更
  background: url(/images/yolliuma-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  margin-bottom: 30px;
}

.top-text {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.top-button {
  margin-top: 10px;
  border-radius: 16px;
}
.top-button:not(:last-child) {
  margin-right: 15px;
}

.random-illust-box {
  margin: 20px 0;
  height: 150px;
  text-align: center;
}
.random-illust-box p {
  margin: 0;
}
.random-illust {
  display: inline-block;
  margin: 10px;
  padding: 0;
}

// マイページ画面の装飾


// ユーザー編集画面の装飾
.unsubscribe {
  border-top: 1px solid #BBB;
  margin-top: 50px;
  padding-top: 25px;
  text-align: center;
}
.unsubscribe-text {
  text-align: center;
}
